
.wp-block-jmhblocks-grid-gallery {
	display: grid;
	gap: 1rem;
	grid-auto-flow: dense;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto repeat(12, 100px);
	
	@media screen and (min-width: 740px) {
		grid-template-columns: repeat(12, 1fr);
	}
	
	.wp-block-jmhblocks-section-intro {
		grid-column-start: 1;
		grid-column-end: -1;

		grid-row: 1;
	}
}