.wp-block-jmhblocks-grid-gallery-item {


	&[data-column-span-mobile="1"] { grid-column: span 1 }
	&[data-column-span-mobile="2"] { grid-column: span 2 }
	&[data-column-span-mobile="3"] { grid-column: span 3 }
	&[data-column-span-mobile="4"] { grid-column: span 4 }
	&[data-column-span-mobile="5"] { grid-column: span 5 }
	&[data-column-span-mobile="6"] { grid-column: span 6 }
	&[data-column-span-mobile="7"] { grid-column: span 7 }
	&[data-column-span-mobile="8"] { grid-column: span 8 }
	&[data-column-span-mobile="9"] { grid-column: span 9 }
	&[data-column-span-mobile="10"] { grid-column: span 10; }
	&[data-column-span-mobile="11"] { grid-column: span 11; }
	&[data-column-span-mobile="12"] { grid-column: span 12; }

	&[data-row-span-mobile="1"] { grid-row: span 1 }
	&[data-row-span-mobile="2"] { grid-row: span 2 }
	&[data-row-span-mobile="3"] { grid-row: span 3 }
	&[data-row-span-mobile="4"] { grid-row: span 4 }
	&[data-row-span-mobile="5"] { grid-row: span 5 }
	&[data-row-span-mobile="6"] { grid-row: span 6 }
	&[data-row-span-mobile="7"] { grid-row: span 7 }
	&[data-row-span-mobile="8"] { grid-row: span 8 }
	&[data-row-span-mobile="9"] { grid-row: span 9 }
	&[data-row-span-mobile="10"] { grid-row: span 10; }
	&[data-row-span-mobile="11"] { grid-row: span 11; }
	&[data-row-span-mobile="12"] { grid-row: span 12; }

	@media screen and (min-width: 740px) {
		&[data-column-span="1"] { grid-column: span 1 }
		&[data-column-span="2"] { grid-column: span 2 }
		&[data-column-span="3"] { grid-column: span 3 }
		&[data-column-span="4"] { grid-column: span 4 }
		&[data-column-span="5"] { grid-column: span 5 }
		&[data-column-span="6"] { grid-column: span 6 }
		&[data-column-span="7"] { grid-column: span 7 }
		&[data-column-span="8"] { grid-column: span 8 }
		&[data-column-span="9"] { grid-column: span 9 }
		&[data-column-span="10"] { grid-column: span 10; }
		&[data-column-span="11"] { grid-column: span 11; }
		&[data-column-span="12"] { grid-column: span 12; }

		&[data-row-span="1"] { grid-row: span 1 }
		&[data-row-span="2"] { grid-row: span 2 }
		&[data-row-span="3"] { grid-row: span 3 }
		&[data-row-span="4"] { grid-row: span 4 }
		&[data-row-span="5"] { grid-row: span 5 }
		&[data-row-span="6"] { grid-row: span 6 }
		&[data-row-span="7"] { grid-row: span 7 }
		&[data-row-span="8"] { grid-row: span 8 }
		&[data-row-span="9"] { grid-row: span 9 }
		&[data-row-span="10"] { grid-row: span 10; }
		&[data-row-span="11"] { grid-row: span 11; }
		&[data-row-span="12"] { grid-row: span 12; }
	}

	
	.wp-block-image {
		margin: 0 !important;
		height: 100%;
		width: 100%;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

}